@import "../App.scss";

.cart-section-container {
    width: 100%;
    height: 100%;
    @include flexItem(space-between, center, null, null);
    box-sizing: border-box;
}

.cart-left-section {
    width: 80%;
    height: 100%;
    @include flexItem(flex-start, flex-start, 20px, column);
    box-sizing: border-box;
    overflow-y: scroll;
    padding-top: 20px;
}

.cart-card {
    width: 80%;
    height: 250px;
    margin: auto;
    padding: 15px;
    box-shadow: 1px 0px 15px rgb(236, 236, 236);
    border-radius: 10px;
    box-sizing: border-box;
    @include flexItem(space-between, null, null, column);
    flex: 0 0 auto;
    border: 1px solid #73cfd8;
    transition: all 0.4s ease-out 0s;

    &:hover {
        box-shadow: 1px 0px 15px rgb(191, 191, 191);
    }
}

.cart-card-info {
    width: 100%;
    @include flexItem(flex-start, null, 20px, null);
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 10px;
    box-sizing: border-box;

    img {
        width: 250px;
        height: 160px;
        border-radius: 10px;
        object-fit: cover;
    }
}

.card-property-details {
    width: calc(100% - 200px);
    @include flexItem(space-evenly, null, null, column);

    .actual-price {
        @include flexItem(space-between, center, null, null);

        .title {
            color: #544748;
        }

        .price {
            color: #0a2f50;
            font-weight: 600
        }

    }

    .description {
        color: #424040;
    }
}

.property-facility-details {
    @include flexItem(space-between, null, null, null);
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;


    .right-border {
        border-right: 1px solid rgb(195, 195, 195);
        padding-right: 40px;
    }

    .property-facility {
        @include flexItem(space-between, center, 10px, null);

        .logo {
            font-size: 30px;
            color: gray;
        }

        .facility-text {
            :nth-child(1) {
                font-size: 13px;
                color: rgb(170, 170, 170);
            }

            :nth-child(2) {
                font-size: 13px;
                font-weight: lighter;
                color: #4f4747;
            }
        }

        div {
            @include flexItem(null, flex-start, 10px, column);
        }
    }
}

.property-card-footer {
    @include flexItem(space-between, center, null, null);
}

.footer-btn {
    width: 60%;
    @include flexItem(null, center, 100px, null);

    .remove-btn {
        box-sizing: border-box;

        button {
            box-sizing: border-box;
            padding: 7px 30px;
            font-size: 15px;
            cursor: pointer;
            font-weight: 500;
            background-color: rgb(250, 30, 30);
            border: none;
            color: white;
            border-radius: 10px;
        }

    }

    .inc-dec-btn {
        width: 150px;
        @include flexItem(space-between, center, null, null);
        padding: 2px;
        border: 1px solid gray;

        .inc-btn {
            width: 50px;
            border: none;
            background-color: transparent;
            padding: 5px 0px;
            border-right: 1px solid gray;
            cursor: pointer;
        }

        .dec-btn {
            width: 50px;
            padding: 5px 0px;
            border: none;
            background-color: transparent;
            border-left: 1px solid gray;
            cursor: pointer;
        }

        .quntity {
            width: 50px;
            text-align: center;
        }
    }
}

.total-cost {
    width: 40%;
    @include flexItem(end, center, 10px, null);

    .show-amount {
        width: 100%;
        @include flexItem(center, center, 20px, null);

        :nth-child(1) {
            text-align: right;
            width: 70%;
            font-weight: 600;
            color: #0a2f50;
        }

        :nth-child(2) {
            width: 30%;
            color: #181513;
            font-weight: 800;
        }
    }
}

.empty-card {
    width: 100%;
    height: 100%;
    @include flexItem(center, center, 10px, column);

    button {
        border: none;
        background-color: #253866;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
}

.cart-right-section {
    width: 20%;
    border: 1px solid green;
    height: fit-content;
    box-shadow: 0px 0px 15px rgb(205, 205, 205);
    padding: 20px;
    @include flexItem(center, center, 10px, column);
    border-radius: 10px;
    position: sticky;
    top: 50px;
    right: 0;

    td {
        padding: 10px;
    }

    .shift-text-right {
        text-align: right;
    }

    .shift-text-left {
        text-align: left;
    }

    table {
        border-collapse: collapse;
    }

    .total {
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }

    .padding-sub-total {
        padding-top: 20px;
    }

    .color1 {
        color: #0a2f50;
        font-weight: 600;
    }

    .color2 {
        color: #181513;
        font-weight: 800;
    }

    .confirm-btn {
        width: 80%;
        background-color: #fed813;
        border: none;
        padding: 10px 0px;
        border-radius: 10px;
        color: white;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
    }
}

@media only screen and (max-width : 480px) {
    .cart-section-container {
        @include flexItem(space-between, center, null, column-reverse);
    }

    .cart-left-section {
        width: 100%;
    }

    .cart-card {
        width: 90%;
        height: fit-content;
        @include flexItem(space-between, null, 15px, column);
    }

    .cart-card-info {
        @include flexItem(flex-start, null, 20px, column);
        border-bottom: none;

        img {
            width: 100%;
        }
    }

    .card-property-details {
        width: 100%;
        @include flexItem(space-evenly, null, 15px, column);

        .actual-price {
            .title {
                font-size: 13px;
            }

            .price {
                font-size: 15px;
            }

        }

        .description {
            font-size: 15px;
        }
    }

    .property-facility-details {
        .right-border {
            padding-right: 10px;
        }

        .property-facility {
            .logo {
                font-size: 15px;
            }

            .facility-text {
                :nth-child(1) {
                    font-size: 9px;
                    color: rgb(79, 79, 79);
                    font-weight: 500;
                }

                :nth-child(2) {
                    font-size: 9px;
                    font-weight: 500;
                }
            }
        }
    }

    .property-card-footer {
        width: 100%;
        @include flexItem(space-between, center, 10px, column);
    }

    .footer-btn {
        width: 100%;
        @include flexItem(space-between, center, 10px, null);
        border-bottom: 1px solid rgb(218, 218, 218);
        padding-bottom: 15px;
        box-sizing: border-box;

        .remove-btn {
            width: 50%;

            button {
                width: 100%;
                padding: 7px 20px;
                font-size: 10px;
            }
        }

        .inc-dec-btn {
            width: 50%;
            padding: 0px;

            .inc-btn {
                width: 30%;
            }

            .dec-btn {
                width: 30%;
            }

            .quntity-btn {
                width: 40%;
            }
        }

    }

    .total-cost {
        width: 100%;

        .show-amount {
            :nth-child(1) {
                text-align: right;
                width: 70%;
            }

            :nth-child(2) {
                width: 30%;
                text-align: end;
            }
        }
    }

    .cart-right-section {
        width: 90%;
        box-sizing: border-box;
        margin: auto;
        padding: 10px;
        @include flexItem(center, center, 0px, column);
        top: 0px;

        td {
            padding: 5px;
            font-size: 13px;
        }

        .padding-sub-total {
            padding-top: 5px;
        }
    }


}

@media only screen and (min-width : 481px) and (max-width : 767px) {
   
    .cart-section-container {
        @include flexItem(space-between, center, null, column-reverse);
    }
   
    .cart-left-section {
        width: 100%;
    }

    .cart-card {
        width: 90%;
        height: fit-content;
        @include flexItem(space-between, null, 15px, column);
    }

    .cart-card-info {
        @include flexItem(flex-start, null, 20px, column);
        border-bottom: none;

        img {
            width: 100%;
        }
    }

    .card-property-details {
        width: 100%;
        @include flexItem(space-evenly, null, 15px, column);

        .actual-price {
            .title {
                font-size: 13px;
            }

            .price {
                font-size: 15px;
            }

        }

        .description {
            font-size: 15px;
        }
    }

    .property-facility-details {
        .right-border {
            padding-right: 10px;
        }

        .property-facility {
            .logo {
                font-size: 15px;
            }

            .facility-text {
                :nth-child(1) {
                    font-size: 9px;
                    color: rgb(79, 79, 79);
                    font-weight: 500;
                }

                :nth-child(2) {
                    font-size: 9px;
                    font-weight: 500;
                }
            }
        }
    }

    .property-card-footer {
        width: 100%;
        @include flexItem(space-between, center, 10px, column);
    }

    .footer-btn {
        width: 100%;
        @include flexItem(space-between, center, 10px, null);
        border-bottom: 1px solid rgb(218, 218, 218);
        padding-bottom: 15px;
        box-sizing: border-box;

        .remove-btn {
            width: 50%;

            button {
                width: 100%;
                padding: 7px 20px;
                font-size: 10px;
            }
        }

        .inc-dec-btn {
            width: 50%;
            padding: 0px;

            .inc-btn {
                width: 30%;
            }

            .dec-btn {
                width: 30%;
            }

            .quntity-btn {
                width: 40%;
            }
        }

    }

    .total-cost {
        width: 100%;

        .show-amount {
            :nth-child(1) {
                text-align: right;
                width: 70%;
            }

            :nth-child(2) {
                width: 30%;
                text-align: end;
            }
        }
    }


    .cart-right-section {
        width: 90%;
        box-sizing: border-box;
        margin: auto;
        padding: 10px;
        @include flexItem(center, center, 0px, column);
        top: 0px;

        td {
            padding: 5px;
            font-size: 13px;
        }

        .padding-sub-total {
            padding-top: 5px;
        }
    }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .cart-left-section {
        width: 70%;
        padding: 10px 0px;
    }

    .cart-card {
        width: 90%;
        height: fit-content;
        @include flexItem(space-between, null, 15px, column);
    }

    .cart-card-info {
        @include flexItem(flex-start, null, 20px, column);
        border-bottom: none;

        img {
            width: 100%;
        }
    }

    .card-property-details {
        width: 100%;
        @include flexItem(space-evenly, null, 15px, column);

        .actual-price {
            .title {
                font-size: 13px;
            }

            .price {
                font-size: 15px;
            }

        }

        .description {
            font-size: 15px;
        }
    }

    .property-facility-details {
        .right-border {
            padding-right: 10px;
        }

        .property-facility {
            .logo {
                font-size: 15px;
            }

            .facility-text {
                :nth-child(1) {
                    font-size: 9px;
                    color: rgb(79, 79, 79);
                    font-weight: 500;
                }

                :nth-child(2) {
                    font-size: 9px;
                    font-weight: 500;
                }
            }
        }
    }

    .property-card-footer {
        width: 100%;
        @include flexItem(space-between, center, 10px, column);
    }

    .footer-btn {
        width: 100%;
        @include flexItem(space-between, center, 10px, null);
        border-bottom: 1px solid rgb(218, 218, 218);
        padding-bottom: 15px;
        box-sizing: border-box;

        .remove-btn {
            width: 50%;

            button {
                width: 100%;
                padding: 7px 20px;
                font-size: 10px;
            }
        }

        .inc-dec-btn {
            width: 50%;
            padding: 0px;

            .inc-btn {
                width: 30%;
            }

            .dec-btn {
                width: 30%;
            }

            .quntity-btn {
                width: 40%;
            }
        }

    }

    .total-cost {
        width: 100%;

        .show-amount {
            :nth-child(1) {
                text-align: right;
                width: 70%;
            }

            :nth-child(2) {
                width: 30%;
                text-align: end;
            }
        }
    }

    .cart-right-section {
        width: 30%;
        box-sizing: border-box;
        margin: auto;
        td {
            padding: 5px;
            font-size: 13px;
        }

        .padding-sub-total {
            padding-top: 5px;
        }
    }

}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    .cart-left-section {
        width: 70%;
        padding: 10px 0px;
    }

    .cart-card {
        width: 90%;
        height: fit-content;
        @include flexItem(space-between, null, 15px, column);
    }

    .cart-card-info {
        @include flexItem(flex-start, null, 20px, column);
        border-bottom: none;

        img {
            width: 100%;
        }
    }

    .card-property-details {
        width: 100%;
        @include flexItem(space-evenly, null, 15px, column);

        .actual-price {
            .title {
                font-size: 13px;
            }

            .price {
                font-size: 15px;
            }

        }

        .description {
            font-size: 15px;
        }
    }

    .property-facility-details {
        .right-border {
            padding-right: 10px;
        }

        .property-facility {
            .logo {
                font-size: 15px;
            }

            .facility-text {
                :nth-child(1) {
                    font-size: 9px;
                    color: rgb(79, 79, 79);
                    font-weight: 500;
                }

                :nth-child(2) {
                    font-size: 9px;
                    font-weight: 500;
                }
            }
        }
    }

    .property-card-footer {
        width: 100%;
        @include flexItem(space-between, center, 10px, column);
    }

    .footer-btn {
        width: 100%;
        @include flexItem(space-between, center, 10px, null);
        border-bottom: 1px solid rgb(218, 218, 218);
        padding-bottom: 15px;
        box-sizing: border-box;

        .remove-btn {
            width: 50%;

            button {
                width: 100%;
                padding: 7px 20px;
                font-size: 10px;
            }
        }

        .inc-dec-btn {
            width: 50%;
            padding: 0px;

            .inc-btn {
                width: 30%;
            }

            .dec-btn {
                width: 30%;
            }

            .quntity-btn {
                width: 40%;
            }
        }

    }

    .total-cost {
        width: 100%;

        .show-amount {
            :nth-child(1) {
                text-align: right;
                width: 70%;
            }

            :nth-child(2) {
                width: 30%;
                text-align: end;
            }
        }
    }

    .cart-right-section {
        width: 30%;
        box-sizing: border-box;
        margin: auto;
        td {
            padding: 5px;
            font-size: 13px;
        }

        .padding-sub-total {
            padding-top: 5px;
        }
    }

}


